:host {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute; }

body {
  margin: 0; }

@font-face {
  font-family: 'Corbel';
  src: url("../fonts/Corbel.eot");
  src: url("../fonts/Corbel.eot?#iefix") format("embedded-opentype"), url("../fonts/Corbel.woff2") format("woff2"), url("../fonts/Corbel.woff") format("woff"), url("../fonts/Corbel.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Corbel Bold';
  src: url("../fonts/Corbel-Bold.eot");
  src: url("../fonts/Corbel-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Corbel-Bold.woff2") format("woff2"), url("../fonts/Corbel-Bold.woff") format("woff"), url("../fonts/Corbel-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Century Gothic';
  src: url("../fonts/Century-Gothic.eot");
  src: url("../fonts/Century-Gothic.eot?#iefix") format("embedded-opentype"), url("../fonts/Century-Gothic.woff2") format("woff2"), url("../fonts/Century-Gothic.woff") format("woff"), url("../fonts/Century-Gothic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }
main,
div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.cv-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1024px;
  max-width: 100%;
  margin: auto; }

.side-panel {
  -webkit-box-flex: 1;
  -ms-flex: 1 30%;
  flex: 1 30%;
  background-color: #ffc935;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #383838;
  text-align: center;
  padding-bottom: 20px; }
  .side-panel #profession {
    background-color: #383838;
    color: #ffc935;
    font-family: "Corbel Bold";
    margin: 0 10px 10px 10px;
    border-radius: 25px; }
  .side-panel #initials {
    font-family: "Corbel Bold"; }
  .side-panel h2 {
    background-color: #ffc935;
    font-family: "Corbel Bold"; }
  .side-panel a {
    color: #383838;
    font-family: "Corbel"; }
    .side-panel a:hover {
      color: #626262; }
  .side-panel p {
    font-family: "Corbel";
    margin: 0 10%; }

.main-content {
  -webkit-box-flex: 3;
  -ms-flex: 3 60%;
  flex: 3 60%;
  margin-left: 5%;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
  font-family: "Corbel"; }
  .main-content h1 {
    text-align: center;
    background-color: #383838;
    font-family: "Corbel Bold";
    color: #ffffff;
    margin: 20px 0 20px 0;
    border-radius: 25px; }

.contact-icon {
  image-rendering: crisp-edges;
  width: auto;
  height: 20px; }

.phone {
  height: 50px;
  border-radius: 8%; }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px; }
  .contact img {
    background-color: #383838;
    border-radius: 0 15% 15% 0;
    padding: 10px 10px 10px 20px;
    margin-right: 10px; }
  .contact a {
    text-decoration: none;
    font-family: "Corbel Bold";
    text-decoration: underline;
    font-size: 17px; }
    .contact a:hover {
      color: #626262; }

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.avatar {
  border-radius: 50%;
  height: auto;
  width: 250px;
  max-width: 100%;
  margin: 5px auto; }

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
  background-color: #fff66c;
  margin: 5px 5%;
  cursor: pointer; }

.panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  -o-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  margin: 0 5%; }

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 10% 0 0;
  font-family: "Corbel Bold"; }
  .skills-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 10px 10px 10px; }

.personalities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: "Corbel Bold";
  margin: 0 5%; }

.item {
  margin: 0 10px; }

.head-img {
  height: 39px;
  width: auto;
  float: left;
  background-color: #ffffff;
  padding-right: 25px; }

.about-me {
  text-align: center;
  margin: 0 5%; }

.head-img {
  height: 39px;
  width: auto;
  float: left;
  background-color: #ffffff;
  padding-right: 25px; }

.interests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 5%; }

.interest {
  text-align: center;
  font-family: "Corbel Bold";
  width: 130px;
  margin: 0 15px; }

.interest-img {
  height: 39px;
  width: auto;
  float: left; }

/*# sourceMappingURL=style.css.map */
